<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Datos de la persona</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Datos de la persona</h1>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar/}" method="POST" th:object="${persona}">
            <input type="hidden" name="idPersona" th:field="*{idPersona}" >
                <label>Nombre</label>
                <input type="text" name="nombre" th:field="*{nombre}" />
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error del nombre</span>
                <br/>
                <br/>
                <label>Apellidos</label>
                <input type="text" name="apellido" th:field="*{apellido}" />
                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error del apellido</span>

                <br/>
                <br/>
                <label>Email</label>
                <input type="text" name="email" th:field="*{email}" />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error del email</span>

                <br/>
                <br/>
                <label>Telefono</label>
                <input type="tel" name="telefono" th:field="*{telefono}" />
                <br/>
                <br/>
                <input type="submit" name="guardar" value="Guardar"/>


        </form>
    </body>
</html>
